#container {
    padding-top: 500;
    display: flex;
    justify-content: center;
    padding-top: 12%;
    padding-bottom: 15%;
}

#form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;   
}

#message{
    height: 75px;
}
