* {
    justify-content: space-between;
}
#project1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 160px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
    justify-content: space-evenly;
    height: 100%;
    background-color: #595959;
}

#paw {
    padding-top: 20px;
}
#project2 {
    padding-top: 20px;
}

#pawphoto {
    height: 320px;
    width: 470px;
}

#golfphoto {
    height: 320px;
    width: 470px;
}